@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}


.container {
    display: flex;
    width: 1200px;
    height: 620px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 8px 8px -4px rgb(183, 183, 183);
}


.mainPart1 {
    display: inline-flex;
    width: 50%;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #4454FC;
    border-radius: 50px 50px 50px 50px;
}

.mainPart2 {
    display: inline-flex;
    width: 50%;
    padding: 40px 50px;
}



.subPart {
    display: flex;
    height: 50%;
    padding: 0px;
    width: 100%;
}

.subPart.one {
    text-align: left;
    flex-direction: column;
}


.subPart.one .header  {
    display: flex;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    margin: 70px 10px 0px 60px;
}

.subPart.one .desc {
    color: white;
    font-weight: 200;
    margin: 5px 34px 20px 60px;
}

.subPart.two {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 30px;
}
.subPart.two .stars {
    display: flex;
    

}

.subPart.two .stars img {
    width: 100px;
    margin: 40px 0px 0px 60px;
}

.subPart.two .review {
    margin: 0px 10px 0px 60px;
}
.subPart.two .profile {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 60px;
}

.subPart.two .profile .profilePic img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


.subPart.two .profile .profileInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.subPart.two .profile .profileInfo h1{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.subPart.two .profile .profileInfo h2{
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 300;
}


.inputDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputDiv .header {
    display: flex;
    justify-content: space-between;
}

.inputDiv form {
    margin-top: 30px;
}

.inputDiv .header .title {
    font-size: 20px;
    font-weight: 600;
}

.inputDiv .header .title div {
    color: #4454FC;
}

.inputDiv .header .signIn {
    color: rgb(108, 108, 108);
    font-weight: 400;
}


.inputDiv .header .signIn div a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.inputDiv .outer-field {
    display: flex;
    justify-content: space-between;
}

.inputDiv .outer-field .field{
    width: 45%;
}

.inputDiv .outer-field input {
    width: 100%;
}
.inputDiv .field {
    margin-top: 15px;
    margin-right: 15px;
}

.inputDiv .field label {
    font-weight: 500;
}
.inputDiv input {
    display:  flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(198, 198, 198);
    padding-left: 10px;
}

.inputDiv .terms {
    display: flex;
    align-items: center;
}

.inputDiv .errorMessage p {
    margin: 0px;
    color: rgb(162, 0, 0);
    font-size: 15px;
}
.inputDiv .terms input {
    width: 20px;
}

.inputDiv .terms span {
    font-size: 14px;
}



.inputDiv .submitButton button{
    width: 100%;
    border-radius: 10px;
    height: 40px;
    color: white;
    background-color: #4454FC;
    border: 1px solid #4454FC ;
    margin-top: 10px;
    cursor: pointer;
}
.inputDiv .submitButton button:disabled{
   cursor: not-allowed;
}